
@media (min-width: 1400px) { 

    .menus {
        padding-left: 200px;
    }

    .vside {
        padding: 76px;
    }
}

@media (min-width: 1200px) { 

    /* third page  */

    .menus {
        padding-left: 145px;
    }

    .menus img {
        width: 172px;
        height: 395px;
    }

    .box1 {
        margin-top: 10px;
    }

    /* seventh page  */

    .lables {
        padding: 15px;
    }

    .message input {
        height: 200px;
        width: 500px;
    }

    input {
        font-size: 17px;
        height: 50px;
        width: 500px;
    }

    /* eighth page  */

    .eighth01 {
        background-color: orange;
        width: 115%;
        padding: 100px;
    }
}


