 @media(max-width:1200px) {

    /* first page  */

     .ilustration .wi {
         width: 700px;
         height: 400px;
     }

     .plant {
        top: 550px;
        left: 410px;
    }

    .lamp {
        right: 250px;
    }

    .window-1 {
        top: 300px;
        right: 400px;
    }
    
    .window-2 {
        position: absolute;
        top: 300px;
        right: 50px;
    }

    .time-date input {
        width: 230px;
    }

    /* second page  */

    .dish01 {
        padding: 30px;
    }    

    /* third page  */

    .third button {
        margin-left: 480px;
    }

    .ilustration1 {
        /* height: 100px;
        width: 200px; */
        top: 2350px;
        left: 300px;
    }

    /* forth page  */

    .forth h4 {
        margin-left: 50px;
    }

    .forth h1 {
        font-size: 35px;
        margin-left: 50px;
    }

    .forth p {
        font-size: 20px;
        margin-left: 50px;
    }

    .forth button {
        margin-left: 50px;
    }

    .plant1 {
        right: 50px;
    }
    
    .ilutration-1 {
        right: 470px;
    }
    
    .ilustration-2 {
        right: 70px;
    }

    /* fifth page  */

    .fifth01 {
        padding-top: 300px; 
    }

    .ilustra {
        top: 3750px;
        left: 50px;
    }

    .fifth {
        padding-left: 800px;
    }

    /* sixth page  */

    .mastersafe {
        top: 4600px;
    }
    
    .cooking {
        top: 4600px;
        right: 500px;
    }

    /* seventh page  */

    .seventh01 {
        padding: 5px; 
    }

    .customers {
        padding-left: 10px;
    }

    .customer-3 {
        margin-left: 350px;
    }

    /* eighth page  */

    .name {
        margin-left: 150px;
    }
    
    .mail {
        margin-left: 150px;
    }
    
    .message {
        margin-left: 150px;
    }
    
    .eighth button {
        margin-left: 400px;
    }

    .avocado {
        top: 6800px;
        left: 50px;
    }
    
    .leaf-1 {
        top: 6300px;
        left: 50px;
    }
    
    .lemon {
        top: 6250px;
        right: 50px;
    }
    
    .leaf-2 {
        top: 6800px;
        right: 70px;
    }

    /* nineth page  */

    .ninth01 {
        padding: 100px;
        gap: 25px;
    }

    .peregraf-3 h1 {
        font-size: 30px;
        margin-left: 200px;
    }
 }